# project file
sql/da-hub-inventory/da-hub-inventory.ssmssqlproj
sql/da-hub-sysaid/da-hub-sysaid.ssmssqlproj

# ignore queries
sql/da-hub-inventory/zz-random-query.sql
sql/da-hub-inventory/create-view-vwUserGroupPivot.sql
sql/da-hub-inventory/get-proc-spGetVendorsAndStudents.sql

# ignore the entire folder. contains - logs, templates, config data etc
shared-ignore/*

sql/da-hub-inventory/create-view-vwFaxes.sql
sql/da-hub-inventory/create-view-vwMitelPhone.sql
sql/da-hub-inventory/get-proc-spGetADUsers.sql
