sql/da-hub-inventory/da-hub-inventory.ssmssqlproj
sql/da-hub-sysaid/da-hub-sysaid.ssmssqlproj

shared-ignore/*
app/comp/Get-fnDomainInventory-Manual.ps1

private/organization-specific/*
sql/da-hub-inventory/zz-random-query.sql
sql/da-hub-inventory/create-view-vwUserGroupPivot.sql
